#heading {
    text-align: center;
}
#add-book-button {
    position: fixed;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    bottom: 20px;
    right: 20px;
}

.book {
    padding: 10px;
    border: black solid 1px;
    width: 220px;
    min-width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#books-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.read-button-true, .read-button-false {
    width: 100%;
    min-height: 40px;
    margin-top: auto;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: solid 0px;
}
.read-button-true {
    background-color: #17B169;
}
.read-button-false {
    background-color: #D2122E;
    
}
.delete-button {
    background-color: red;
    border: solid 0px;
    border-radius: 10px;
    width: 30px;
    color: white;
    margin-top: 5px;
    margin-left: auto;
}
/* Dialog */
dialog {
    height: 400px;
    width: 300px;
    
}
dialog > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label {
    font-size: 30px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form > div {
    display: flex;
    width: 100%;
}
form > div > input {
    
    width: 60%;
    margin-left:auto;
}
#dialog-submit {
    height: 50px;
    border-radius: 10px;
}